h1 {
    color: red;
  }
  
  .community_main {
    width: 100%;
  }
  
  .inpt {
    width: 100%;
    padding: 2% 5% 1% 5%;
    border: 1px solid #ccc;
    border-radius: 100px;
    outline: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
  }
  
  .m_input {
    width: 80%;
  }
  .comm_aa {
    padding: 0;
    margin-top: 4px;
    color: #0678c1;
  }
  
  .comm_ab {
    padding: 0;
    margin: 0;
    color: black;
  }
  
  .bo {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .zz {
    z-index: 8888;
  }
  