@import "../common/globl.scss";
@import "mediauser.scss";

.main_user {
  width: 100%;
}

.main-section {
  background-color: #fff;
  box-shadow: 0px 8px 8px 2px #ddd;
}

.user-detail {
  margin: -50px 0px 30px 0px;
}

.user-detail img {
  height: 100px;
  width: 100px;
}
.user-detail h5 {
  margin: 15px 0px 5px 0px;
}
.user-social-detail {
  padding: 15px 0px;
  background-color: #0b9fe1;
}
.user-social-detail a i {
  color: #fff;
  font-size: 23px;
  padding: 0px 5px;
}
.progress-bar {
  background-color: #0b9fe1;
}
.p1 {
  font-size: 14px;
  font-weight: 400;
  color: $black;
  text-transform: capitalize;
}
.fa {
  color: #0b9fe1;
}

.p3 {
  color: red;
  margin-left: -131px;
}
.btn-secondary {
  border-radius: 16px;
  float: left;
}

.ltr_clr {
  color: $black;
}

.user_icon {
  font-size: 18px !important;
  color: $black;
  //  -webkit-text-fill-color: red !important;
  float: left;
  // color:blue;
  margin-top: 4px;
  color: $dark_blue;
}

.pencil {
  @extend .user_icon;
  color: $yellow;
}

.user_one {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(6, 120, 193, 1) 100%,
    rgba(11, 159, 225, 1) 100%
  );
  background-clip: text;
  color: transparent;
  float: left;
}

.user_two {
  @extend .user_one;
}

.user_tt {
  padding: 0;
  margin: 0;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
}

.user_ta {
  @extend .user_tt;
  color: #d32e2e;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.user_btna {
  border: 2px solid #ccc;
  padding: 5px 5px 5px 5px;
  background: transparent;
  border-radius: 15px;
  border: 2px solid #ccc;
  outline: none !important;
  text-transform: capitalize;
  color: grey;
  font-size: 15px;
}
.user_btnb {
  @extend .user_btna;
}

.jj {
  color: red;
}

.user_iconp {
  margin: 0;
  padding: 0;
}

.user_ya {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.btn_drop {
  background-color: red !important;
}
