//   @import "/style/common/globl.scss";

.main_head{
     width:100%;
     background: linear-gradient(90deg, rgba(11,159,225,1) 100%, rgba(6,120,193,1) 100%);
            
     .header_logo{
                 width:200px;
     }

    }


    .bars_icon{
          position: absolute;
          top:25px;
          right:15px;
          cursor: pointer;
          
    }

    .bar_iconn{
          font-size:25px;
          color: #000000;
    }

       .close_icon{
              @extend .bars_icon;

       }

       .close_iconn{
            @extend .bar_iconn;
            font-size:30px;
       }


    .sidenavbar{
             width:0px;
           height:100vh !important;
             position:fixed;
             top:0;
             right:0;
         background-color:#fff;
     
         z-index:9999 !important;
         overflow-x:hidden;
         transition:all 0.5s;
         
    }
