@import "../common/globl.scss";
@import "var.scss";
@import "../common/btn.scss";
@import "loginmedia.scss";
@import "../common/social.scss";
.main_login {
  width: 100%;
  padding: 0;
  margin: 0;

  .login_aa {
    width: 100%;
    // padding-top:100px;
    padding: 10% 10% 0% 10%;
  }

  .logo_bb {
    color: #0678c1;
    font-size: 15px;
    font-weight: 400;
  }

  .logo_cc {
    @extend .logo_bb;
    background: linear-gradient(
      90deg,
      rgba(255, 107, 23, 1) 0%,
      rgba(246, 178, 23, 1) 100%
    );
    background-clip: text;
    color: transparent;
  }

  .btn_a {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    border: none;
    padding: 4px 40px 4px 40px;
    // padding:3px 40px 4px 40px;
    border-radius: 4px;
    background: linear-gradient(
      90deg,
      rgba(6, 120, 193, 1) 0%,
      rgba(11, 159, 225, 1) 100%
    );
  }

  .btn_b {
    @extend .btn_a;
    background: none;
    border: 2px solid $dar_blue;
    color: $light_blue;
    font-size: 13px;
  }

  .fnt {
    font-size: 18px;
    font-weight: 300;
  }
}

.login_input {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 5%;
  text-transform: capitalize;
  font-size: 13px;
}
