

.login_ba{
    font-size:23px;
    font-weight:300;
   }

.btn_c{
     border:1px solid #ccc;
     padding:4px  6% 4px 6%;
     color:black;
      font-weight:400;
      font-size:15px;
      background-color:#fff;
      outline:none;
    }


.login_facebook_a{
    width:13px;
}

.login_google_a{
    width:15px;
 }

 
 .btn_d{
    @extend .btn_c;
    padding:1%  6% 1% 6%;
}
